$colors: (
  black: (
    base: #1b2437,
    light: #716d6d,
    dark: #000000
  ),
  gray: (
    base: #d0d9de,
    light: #fcfcfc,
    dark: #999999,
  ),
  purple: (
    base: #b765d3,
    light: #3626af,
    dark: #2d2f4e
  ),
  white: (
    base: #ffffff
  )
);

$gradient-start: #3023ae;
$gradient-end: #c86dd7;
$gradients: (
  border: linear-gradient(135deg, $gradient-start, $gradient-end),
  button: linear-gradient(107deg, $gradient-start, $gradient-end),
  button-secondary: linear-gradient(114deg, $gradient-start, $gradient-end),
  button-success: linear-gradient(311deg, #03a79b, #87c442),
  navbar: linear-gradient(93deg, $gradient-start, $gradient-end)
);

$sans-serif: HelveticaNeue, Avenir, sans-serif;
$max-width: 80rem;
